In [1]:
import pandas as pd

In [3]:
data={'x':[1,2,3,4,5],
     'y':[3,5,7,-1,5]}

In [4]:
df=pd.DataFrame(data)
df

   x  y
0  1  3
1  2  5
2  3  7
3  4 -1
4  5  5

# Let's check if there's any direct relationship between two variables i.e time to check pearson correlatio

In [5]:
df.corr()

          x         y
x  1.000000 -0.104257
y -0.104257  1.000000