MINMAX_SCALING

In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

In [15]:
data={'Feature1':[2,4,6,8,10],
     'Feature2':[1,3,5,7,9]}
df=pd.DataFrame(data)
df.head()
#x=list(data.keys())
##plt.scatter(x,y)

   Feature1  Feature2
0         2         1
1         4         3
2         6         5
3         8         7
4        10         9

In [16]:
#scaling using minmax
scaler=MinMaxScaler()
scaled_data=scaler.fit_transform(df)
scaled_df=pd.DataFrame(scaled_data,columns=df.columns)

print("Original Dataframe:")
print(df)
print("\n Scaled Data:")
print(scaled_df)

Original Dataframe:
   Feature1  Feature2
0         2         1
1         4         3
2         6         5
3         8         7
4        10         9

 Scaled Data:
   Feature1  Feature2
0      0.00      0.00
1      0.25      0.25
2      0.50      0.50
3      0.75      0.75
4      1.00      1.00

STANDARD_SCALING(Z_SCORE)

In [17]:
from sklearn.preprocessing import StandardScaler

In [19]:
data={'Feature1':[2,5,7,8,9],
     'Feature2':[3,6,7,8,9]}
df=pd.DataFrame(data)
df.head()

   Feature1  Feature2
0         2         3
1         5         6
2         7         7
3         8         8
4         9         9

In [20]:
scaler=StandardScaler()
standardized_data=scaler.fit_transform(df)
standardized_data_df=pd.DataFrame(standardized_data,columns=df.columns)

In [23]:
print("Original Data:")
print(df)
print("\n Standadized data:")
standardized_data_df.head()

Original Data:
   Feature1  Feature2
0         2         3
1         5         6
2         7         7
3         8         8
4         9         9

 Standadized data:

   Feature1  Feature2
0 -1.692228 -1.748315
1 -0.483494 -0.291386
2  0.322329  0.194257
3  0.725241  0.679900
4  1.128152  1.165543