In [1]:
import pandas as pd

In [4]:
data={'Scores':(23,45,67,87,77)}
df=pd.DataFrame(data)

In [5]:
df

   Scores
0      23
1      45
2      67
3      87
4      77

In [8]:
std_deviation=df['Scores'].std()
print("Standard deviation is:", std_deviation)

Standard deviation is: 25.791471458604295

In [9]:
variance=df['Scores'].var()
print("Variance is:",variance)

Variance is: 665.2